.col {
  border-style: solid;
}

 #first-line, #second-line, #third-line, #submit {
  margin-top: 20px;
}

 .col-md-2 {
  overflow: hidden;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.col-md-10 {
  overflow: hidden;
  padding-bottom: 100%;
  margin-bottom: -100%;
}
.row {
  margin: 20px;
}
.bg-success {
  margin: 10px;
}
.score {
  border-style: solid;
}
